<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @band.Name %>
</p>

<p>
  <b>Homepage:</b>
  <%= @band.HomePage %>
</p>

<p>
  <b>Rating:</b>
  <%= @band.Rating %>
</p>


<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
